.vs/
.idea/
/**/Debug/
/**/Release/
*.FileListAbsolute.txt
*.bin
*.cache
*.db
*.dep
*.deps
*.dll
*.exe
*.exp
*.htm
*.idb
*.ilk
*.iobj
*.ipdb
*.ldb
*.lib
*.log
*.manifest
*.map
*.ncb
*.obj
*.opendb
*.pdb
*.recipe
*.suo
*.tlog
*.user
*.ini
*.pyc